<!doctype html>
{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Reddit Analyzer</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'analyzer_backend/css/master.css' %}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</head>
<body>
	<nav class="navbar navbar-expand-m navbar-inverse" role='navigation' id='navbar'>

		<div class="container">
			<a class="navbar-brand" href="{% url 'home' %}">Home Page</a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
	        <li class="nav-item"><a href="{% url 'home' %}" class="navbar-brand">Play </a>
	        <li class="nav-item"><a href="{% url 'home' %}" class="navbar-brand">Create</a>
	        <li class="nav-item"><a href="{% url 'accounts:logout' %}" class="navbar-brand">Logout</a>
          {% else %}
            <li class="nav-item"><a  href="{% url 'accounts:login' %}" class="navbar-brand">Login</a></li>
            <li class="nav-item"><a  href="{% url 'accounts:signup' %}" class="navbar-brand">Sign Up</a></li>
          {% endif %}
        </ul>

		</div>

    </nav>
    <div class="container mycontent">

      {% block content %}
      {% endblock %}

    </div>
	<!-- Latest compiled and minified JavaScript -->
	<script>

	</script>
</body>
</html>