{% extends "base.html" %}
{% block content%}

	{% if user.is_authenticated %}
	<br><br>
	<h1><b>Welcome {{ user.username }} !</b></h1>
	<br><br>
	<h2>Go to <a href="{% url 'home' %}">Play</a> page to simulate a conversational game .</h2>
	<br>
	<h2><b>&nbsp &nbsp &nbsp or</b></h2>
	<br>
	<h2>Go to <a href="{% url 'home' %}">Create</a> page and create your own interview structure.</h2>
	<br><br>

    {% else %}
	<br><br>
	<h1><b>Welcome!</b></h1>
	<br><br>
	<h2>Please <a href="{% url 'accounts:login' %}">login</a> or <a href="{% url 'accounts:signup' %}">signup</a> to continue</h2>
    <br><br>
    <p>This project is made for Boğaziçi University SWE599 course by Turgut Cem Yılmaztürk. The main purpose is to create and simulate a smart interviewer,and score the participants accordingly.
	  </p>
	<p>The project repository can be reached from <a target="_blank" rel="noopener noreferrer" href="https://github.com/turgutcem/SWE599">here</a></p>
    {% endif %}
{% endblock %}