{% extends "base.html" %}

{% block content %}
		<div class="jumbotron">
		<p class="h3">{{ INTRO.content }}</p></div>
		<br><br>
		<p id="quest-content">{{ dk.content }}</p>
			<div class="btn-group" role="group">
			{% for child in children %}
				<button class="btn btn-primary btn-group-lg btn-group-justified" aria-pressed="true" value={{ child.pk }}id={{ child.pk }}>{{ child.content }}</button>
				<br><br>
			{% endfor %}
			</div>
			<br><br>


<script>
$(".btn").click(function (){
            var dkid=$(this).val();
			$.ajax({
            type: "POST",
            url: "{% url 'domain:next' %}",
            data: { 'dkid': dkid, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
            dataType: "json",
            success: function (data) {


                changehtml(data);
                alert("Next question->")
            },
            error: function (response) {
				alert("An error occured!")
            }
        });
})

function changehtml(data){
	console.log(data['children'])
}

</script>
	{% endblock %}